.slideable-snapscroller {
 	white-space: nowrap;
 	position:relative;
 	vertical-align:top;
	overflow-x:auto;
	overflow-y:hidden;
}

.scroller-slide {
  display: inline-block;
  vertical-align:top;
  position: relative;
  top:0;
  -webkit-transform: translate3d(0px, 0px, 0px);
}